<% provide(:title, "Home") %>
<div class="center hero-unit">
  <h1>Добро пожаловать в Twitter!</h1>

  <h2>
    Это первый проект созданый в Ruby on Rails <a href="http://web.method.kz/">Привет!</a>
    sample application.
  </h2>

  <%= link_to "Регистрация", signup_path, class: "btn btn-large btn-primary" %>
</div>